@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: auto 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.config-header{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}


.config-card{
    margin: 0 auto;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 80%;


}

.logo-topo{
    display: flex;
    width: 8rem;
    border-radius: 60rem;
}

.button-config{

}

.input-h1{

}

.divBusca{

}

#txtBusca{
    text-align: center;
    border: 0.01rem transparent gray;
    border-radius: 50rem;
    width: 25rem;
    height: 1.9rem;
}

#btnBusca{
    position: absolute;
    top: 14.8rem;
    right: 28.5rem;
    width: 2rem;
    border-radius: 60rem;
}

.title-header{
    align-items: center;
}

.card-services{
    background-color: rgb(255, 170, 177);
    border: 0.02rem solid gray;
    border-radius: 0.5rem;
    padding: 0.6rem;

}
