@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.config-general{
    margin: auto;
    width: 80%;
    background-color: aliceblue;
}

.logo-topo{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 12rem;
    height: 12rem;
    border-radius: 60rem;
    justify-content: center;
}

.title-header{
    font-size: x-large;
    text-align: center;

}

.config-header{
    align-items: center;
    justify-content: center;
    display: flex;
}
