@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: auto 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(248, 246, 246);
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.config-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.header-category{
    text-transform: uppercase;
    font-size: 1.3rem;
}
.config-card{
    margin: 0 auto;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

.card-services{
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 0.02rem solid gray;
    border-radius: 0.5rem; */
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-bottom: 1.5rem;
}

.list-services{
    font-size: 1.3rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.render-button{
    background-color: transparent;
    color: black;
    border: 0.018rem solid gray;
    border-radius: 1.2rem;
    padding: 0.6rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    margin-left: auto;
}

.render-button:hover{
    border: none;
    background-color: white;
    color: red;
}

.logo-topo{
    display: flex;
    width: 8rem;
    border-radius: 60rem;
}

.render-img{
    height: 8rem;
    width: 8rem;
    border-radius: 60rem;
}

.button-config{

}

.input-h1{

}

.divBusca{

}

.txtBusca{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-align: left;
    border: 0.01rem transparent gray;
    border-radius: 50rem;
    width: 25rem;
    height: 1.9rem;
}

.surch{
    background-color: rgb(213, 24, 109);
    color: white;
    height: 2rem;
    border: 0.02rem transparent gray;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    border-bottom-left-radius: none;
    border-top-left-radius: none;            
    margin-left: -5rem;
    cursor: pointer;
    font-weight: bold;
    width: 5rem;
    height: 2.2rem;

}

.title-header{
    align-items: center;
}

.config-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

footer{
    height: 10rem;
    display: flex;
    background-color: black;
    margin-top: 2rem;
}

.card-footer{
    height: 10rem;
    border: 0.015rem solid white;
    text-align: center;
    display: flex;
    color: white;
}

.header-footer{
    font-size: 1.3rem;
}